<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custon MangaDex</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <script src="{{url_for('static', filename='app.js')}}" defer></script>
</head>
<body>
    <main>

        <h1>Custom MangaDex Search</h1>
        <div>
            <h2>Original Language</h2>
            <div id="lang">
                <label class="container">Korean
                    <input type="checkbox" id="ko">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Japanese
                    <input type="checkbox" id="ja">
                    <span class="checkmark"></span>
                </label>
            </div>
            
            <h2>Tags</h2>
            <div id="tags">
            </div>
            <button class='search-bt' id="submit">Search</button>
            <button class='search-bt' id="clear">Clear</button>
        </div>
        <section>
        {% for manga in context.filtered %}

            <a
                class="card"
                href="https://mangadex.org/title/{{manga.id}}"
                target="_blank"
                rel="norefferrer"
            >
                <img src="/mdimg?md={{manga.id}}&fn={{context.covers[manga.id]}}.256.jpg" />
                {% if manga.attributes.title.en %}
                    <h1>{{manga.attributes.title.en}}</h1>
                {% elif manga.attributes.title.kr %}
                    <h1>{{manga.attributes.title.kr}}</h1>
                {% elif manga.attributes.title['ja-ro'] %}
                    <h1>{{manga.attributes.title['ja-ro']}}</h1>
                {% else %}
                    <h1>Title Not Available</h1>
                {% endif %}
            </a>

        {% endfor %}
        </section>

    </main>
</body>
</html>