@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

/* Page Overhead */
* {
    box-sizing: border-box;
    margin: 0;

    /* Color Vars */
    --base: #2c2c2c;
    --highlight: #fc6444;
    --font: white;

    --include: rgb(25, 116, 25);
    --exclude: rgb(100, 41, 41);
}
body {
    font-family: 'Inter';
    background-color: var(--base);
    color: var(--font);
}
body::-webkit-scrollbar {
    height: 0.3rem;
    width: 0.3rem;
}
body::-webkit-scrollbar-track {
    background: none;
}
body::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #ccc;
    transition: 0.2s;
}
body::-webkit-scrollbar-thumb:hover {
    background: #b4b4b4;
}

/* Main Query Page */
main {
    width: min(95%, 1200px);
    margin: auto;
}
h1 {
    font-size: 3em;
    padding: 1rem 0;
    font-weight: 600;
}
h2 {
    font-weight: 500;
    font-size: 1.2rem;
}

/* Query Options */
#lang {
    display: flex;
}
#tags {
    margin: 1rem;
}
.tag {
    background-color: rgb(37, 37, 37);
    color: var(--font);
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 5px;
    margin: 0.2rem;
    font-size: 0.8rem;
    border: 2px solid rgba(0, 0, 0, 0);
}
.tag:hover {
    cursor: pointer;
    opacity: 0.7;
}
.include {
    background-color: var(--include);
    border: 2px solid green;
}
.exclude {
    background-color: var(--exclude);
    border: 2px dotted red
}
.container {
    display: block;
    position: relative;
    padding-left: 1.6rem;
    margin-bottom: 0.55rem;
    cursor: pointer;
    font-size: 1rem;
    color: var(--font);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: fit-content;
    margin: 1rem;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0.09rem;
    left: 0;
    height: 1rem;
    width: 1rem;
    background-color: #eee;
    border-radius: 50%;
    overflow: hidden;
}
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
.container input:checked ~ .checkmark {
    background-color: var(--highlight);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    top: 0.31rem;
    left: 0.3rem;
    width: 0.38rem;
    height: 0.38rem;
    border-radius: 50%;
    background: var(--font);
}
.search-bt {
    padding: 0.4rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    width: 10rem;
    margin: 0 0.7rem;
}
.search-bt:hover {
    opacity: 0.8;
    cursor: pointer;
}
#submit {
    background-color: var(--highlight);
    color: var(--font);
    border: 1px solid orangered;
}


/* Manga Display */
section {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-auto-rows: 1fr;
    width: 100%;
    padding: 2%;
}
.card, .card:visited {
    display: flex;
    align-items: center;
    position: relative;
    margin: 1rem;
    color: var(--font);
    width: fit-content;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.2s;
}
.card:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.card img {
    max-height: 300px;
    width: auto;
}
.card h1 {
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
}
#no-entries {
    width: 100%;
    text-align: center;
    margin: 10rem auto;
}
#no-entries h3 {
    font-size: 2rem;
    font-weight: bold;
}
#no-entries p {
    font-size: 1.2rem;
    margin: 0.3rem;
}
#page-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
#page-controls * {
    font-size: 1.3rem;
    margin: 0.2rem;
    text-align: center;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--highlight);
    font-weight: bold;
    color: var(--font);
    border: none;
    border-radius: 5px;
    padding: 0.1rem;
}
#page-controls *:hover {
    cursor: pointer;
    opacity: 0.8;
}
#page-controls form, #page-controls form input {
    background-color: white !important;
    color: black;
    width: 3rem;
}
#page-controls form:hover, #page-controls form input:hover {
    cursor: text !important;
}
#page-controls form:focus, #page-controls form input:focus {
    outline: none;
}